.footer-main {
    background: #666666;
    background-color: #666666;
    height: 30px;
    overflow: hidden;
}
.footer-main p {
    background: #666666;
    background-color: #666666;
    border-top: 5px solid #4aaaa5;
    bottom: 0;
    font-size: xx-small;
    text-align: center;
  }
  .footer-object {
      width: 100%;
      height: 30px;
      overflow: hidden;
  }

